.numero{
    text-align: center;
    background-color: #252525;
    color: white;
    border: solid black 0.5px;
    width: 75%;
    border-radius: 5px;
    height: 75%;   
}

.calcu{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    height: 140px;
    width: 225px;
    margin: auto;
    background-color: #333232;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.resultado{
    border: 3px solid black;
    height: 20px;
    width: 190px;
    background-color: white;
}

#aux{
    text-align: center;
    background-color: #252525;
    color: white;
    border: solid black 0.5px;
    width: 75%;
    border-radius: 5px;
    height: 75%;  
}